@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<PageTitle>PartsUnlimited</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        @Body
    </div>
</div>
